BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All

BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

ColumnLimit: 120

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: DontAlign